footer {
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 0;
  width: 100%;
  /* Height of the footer*/
  height: 70px;
}

footer p {
  font-size: 25px;
  text-align: center;
}
